<!DOCTYPE html>
<html>
<head>
  <title>Learn to Code</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/ita6tqm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= render "layouts/analytics" %>
</head>
<body>
  <%# <%= image_tag "http://farm9.staticflickr.com/8110/8623228861_b20e2b057b_h.jpg" %1> %>
  <%# <%= render "layouts/header" %1> %>
  <%= render "layouts/main" %>
  <%# <%= render "layouts/footer" %1> %>
</body>
</html>
