<!DOCTYPE html>
<html>
<head>
  <title>Learn to Code</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/ita6tqm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <%= render "layouts/main" %>
  <%= render "layouts/footer" %>
</body>
</html>
